
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 80px 20px;
}

#home {
    text-align: center;
    background: url('background.jpg') no-repeat center center/cover;
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.profile-photo {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-top: 20px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

#about,
#skills,
#projects,
#contact {
    background-color: #f4f4f4;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

.project {
    margin-bottom: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}